/*  Colores Generales para el proyecto
    Color zul: rgb(10,74,110)
    Color verde: color: rgb(84,121,114)*/

@import "bootstrap";

body{
    background-color: rgb(254,254,251);
    color: rgb(10,74,110) !important;
    font-size: large !important;
}
form{

}

.card {
    color: rgb(84,121,114) !important;
}

.card-blue {
    color: rgb(10,74,110) !important;
}

.border-card {
    border: 1px solid rgb(84,121,114) !important;
}


.border-card-blue {
    border: 1px solid rgb(10,74,110) !important;
}

.btn-green {
    color: #fff !important;
    background-color: rgb(84,121,114) !important;
    border-color: rgb(84,121,114) !important;
    
}

.btn-green:hover {
    background-color: rgb(56,82,77) !important;
    border-color: rgb(56,82,77) !important;
}

.font-green{
    color: rgb(84,121,114) !important;
}

.img-text{
    display: block;
    position: relative;
    width: 100%;
}

.text-in-img{
    position: absolute;
    right: -65%;
    bottom: 5.25rem;
    left: 75%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.bg-blue{
    background-color: rgb(10,74,110) !important;
}

.table-green {
    --bs-table-striped-bg: rgb(219, 235, 232) !important;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.btn-blue {
    color: #fff !important;
    background-color: rgb(40,99,132) !important;
    border-color: rgb(40,99,132) !important;
}

.btn-blue:hover {
    background-color: rgb(10,74,110) !important;
    border-color: rgb(56,82,77) !important;
}
.btn-blue-aling {
    color: #fff !important;
    background-color: rgb(40,99,132) !important;
    border-color: rgb(40,99,132) !important;
    align:flex-end;
}

label{
    margin-top: 10px;
}